@model Torrentfinity.Mvc.Models.TorrentViewModel
@using Resource =Torrentfinity.Mvc.Resources.TorrentsWidget

@using (Html.BeginForm("Create", "Torrents", FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.Label(Resource.Title)
        @Html.TextBoxFor(m => m.TitleEn, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label(Resource.AdditionalInfo)
        @Html.TextBoxFor(m => m.AdditionalInfoEn, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label(Resource.Description)
        @Html.TextBoxFor(m => m.DescriptionEn, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label(Resource.DownloadLink)
        @Html.TextBoxFor(m => m.DownloadLink, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label(Resource.Genre)
        @Html.DropDownList("Genre", new SelectList(Model.Genres), "Select Genre", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label(Resource.Image)
        @Html.TextBoxFor(m => m.Image, new { type = "file", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.ValidationSummary()
        <button type="submit">@Resource.Create</button>
    </div>
}
