@model Torrentfinity.Mvc.Models.TorrentViewModel
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;


@*@Html.Script(ScriptRef.AngularJS, "top")

    @Html.Script(Url.WidgetContent("Mvc/Scripts/Torrents/torrents-widget.js"), "bottom")*@
@using (Html.BeginForm("Create", "Torrents", FormMethod.Post, 
                        new { enctype = "multipart/form-data" })) 
{
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title)
    @Html.LabelFor(m => m.AdditionalInfo)
    @Html.TextBoxFor(m => m.AdditionalInfo)
    @Html.LabelFor(m => m.Description)
    @Html.TextBoxFor(m => m.Description)
    @Html.LabelFor(m => m.DownloadLink)
    @Html.TextBoxFor(m => m.DownloadLink)
    @Html.LabelFor(m => m.Genre)
    @Html.TextBoxFor(m => m.Genre)
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title)
    @Html.LabelFor(m => m.FileAttach)
    @Html.TextBoxFor(m => m.FileAttach, new { type = "file" })
    <input name="image" type="file" />
    <button type="submit">Create</button>
}